*{
    padding: 0;
    margin: 0;
    outline: 0;
}
body{
    font-family: verdana;
    font-size: 18px;
    color: #444;
}
.wrapper{
    width: 800px;
    margin: 0 auto;
}
.clr{
    overflow: hidden;
}
.headsection, footsection{
    background: #ddd;
    padding: 10px;
    text-align: center;
}
.headsection h2, footsection h2{}
.content{
    border: 15px solid #ddd;
    min-height: 500px;
}
.box{
    border: 5px solid #999;
    margin: 30px auto 0px;
    padding: 20px;
    width: 600px;
    height: 200px;
    overflow: scroll;
}
.box ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.box ul li{
    display: block;
    border-bottom: 1px dashed #ddd; margin-bottom: 5px;
    padding-bottom: 5px;
}
.box ul li:last-child{
    border-bottom: 0px dashed #ddd; margin-bottom: 0px;
    padding-bottom: 0px;
}
.box ul li span{
    color: #888;
}
.box ul li b{}
.shoutform{
    border: 5px solid #999;
    margin: 20px auto 10px;
    padding: 20px;
    width: 600px;
}
input[type="text"]{
    padding: 5px;
    width: 500px;margin-bottom: 10px;
}
input[type="submit"]{
    background: #666;
    border: 1px solid #444;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    padding: 5px 25px;
}
